.app {
  display: flex;
  height: 100vh;
}

.component-list {
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.sheet-container {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a4-sheet {
  position: relative;
  width: 900px;
  height: 1000px;
  padding: 20mm;
  margin: 10mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex; /* Flexbox can help with layout */
  flex-direction: column; /* Ensure children stack vertically */
}

.layout {
  position: relative;
  display: flex;
  flex-grow: 1; /* Allow the grid to expand */
  min-height: 100px; /* Minimum height for the grid */
  height: auto; /* Allow height to adjust automatically */
}